- var imgUrl = '../img/';
  
doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header2.pug

		.page-container
			section.heading(style="background: url(../img/heading/about.jpg) no-repeat center center / cover;")
				.container
					h1.heading__title О КОМПАНИИ
					h2.heading__bgtitle О КОМПАНИИ
				.breadcrumbs
					.container
						ul.breadcrumbs
							li
								a(href="#") Главная
							li
								a(href="#") О компании
			
			section.advantages.type2
				.block-container
					img.line4(src=imgUrl+"lines/line14.png", alt="")
					img.line5(src=imgUrl+"lines/line15.png", alt="")
					.top
						.container
							.caption
								p.caption__subtitle ALS PARTNERS международная компания, созданная для повышения <br> эффективности и оптимизации оказания услуг в сфере интеллектуальной <br> собственности на международном уровне. Компания специализируется на <br> регистрации и защите технических решений, технологий и товарных знаков <br> по всему миру.
							.caption.caption2
								h2.caption__title Почему с нами работают?
								p.caption__line
							ul.list
								li.item
									img(src=imgUrl+"advantages/icon-advantages1.svg", alt="").item__icon
									p.item__text 20 лет практики защиты интеллектуальной собственности в ведущих странах мира
								li.item
									img(src=imgUrl+"advantages/icon-advantages2.svg", alt="").item__icon
									p.item__text Дорожим своей репутацией <br> и репутацией наших партнеров
								li.item
									img(src=imgUrl+"advantages/icon-advantages3.svg", alt="").item__icon
									p.item__text Международная команда <br> юристов и поверенных
								li.item
									img(src=imgUrl+"advantages/icon-advantages4.svg", alt="").item__icon
									p.item__text Контроль и регистрация всей интеллектуальной собственности клиента через личный кабинет
								li.item
									img(src=imgUrl+"advantages/icon-advantages5.svg", alt="").item__icon
									p.item__text Абсолютная <br> конфиденциальность <br> и гарантии
								li.item
									img(src=imgUrl+"advantages/icon-advantages6.svg", alt="").item__icon
									p.item__text Дистанционное цифровое <br> взаимодействие
				
			section.about
				.block-container
					img.line1(src=imgUrl+"lines/line16.png", alt="")
					img.line2(src=imgUrl+"lines/line17.png", alt="")
					.container
						.inner
							p.about__text.change-scroll Компания объединила патентных поверенных и юристов <br> из разных стран мира. В ALS PARTNERS работают <br> патентные поверенные, юристы, высококлассные <br> специалисты в области IT-технологий, машиностроения, <br> медицины, химии и биотехнологий, а также <br> профессиональные переводчики из разных стран мира.

			section.office
				.container
					.top
						.caption
							h2.caption__title Наши представительства
							.caption__line
							p.caption__subtitle В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией <br> объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной <br> собственностью по всему миру.<br><br> Патентные поверенные и юристы нашей компании компетентны в оказании полного <br> спектра услуг, связанных с регистрацией и защитой интеллектуальной собственности <br> на международной арене.
				.bottom
					img.office__map(src=imgUrl+"office/map.jpg", alt="")
					.map-block.rus.active
						h3.map-block__title.icon-location Россия
						.map-block-inner
							ul.tels.icon-tel
								li
									a(href="tel:+74955853865") +7 495 585-38-65
							ul.mails.icon-mail
								li
									a(href="mailto:info@als-partners.ru") info@als-partners.ru
					.map-block.ger
						h3.map-block__title.icon-location Германия
						.map-block-inner
							ul.tels.icon-tel
								li
									a(href="tel:+74955853865") +7 495 585-38-65
							ul.mails.icon-mail
								li
									a(href="mailto:info@als-partners.ru") info@als-partners.ru
					.map-block.usa
						h3.map-block__title.icon-location США
						.map-block-inner
							ul.tels.icon-tel
								li
									a(href="tel:+74955853865") +7 495 585-38-65
							ul.mails.icon-mail
								li
									a(href="mailto:info@als-partners.ru") info@als-partners.ru

			section.b-questions
				.container
					.caption
						h2.caption__title Остались вопросы?
						h3.caption__title2 Оставьте нам заявку <br> и мы с Вами свяжемся
						.caption__line
						ul.btns
							li
								a.btn3.popup-link(href="#callback2") Оставить заявку


		include ../blocks/footer.pug

		include ../blocks/scripts.pug