section.advantages
	.top
		.container
			.caption
				h2.caption__title преимущества
				.caption__line
				p.caption__subtitle ALS PARTNERS оказывает услуги частным и государственным компаниям, а также патентным бюро и юридическим фирмам в вопросах регистрации и защиты интеллектуальной собственности на международном уровне.
			ul.list
				li.item
					img(src=imgUrl+"advantages/icon-advantages1.svg", alt="").item__icon
					p.item__text 20 лет практики защиты интеллектуальной собственности в ведущих странах мира
				li.item
					img(src=imgUrl+"advantages/icon-advantages2.svg", alt="").item__icon
					p.item__text Дорожим своей репутацией и репутацией наших партнеров
				li.item
					img(src=imgUrl+"advantages/icon-advantages3.svg", alt="").item__icon
					p.item__text Международная команда юристов и поверенных
				li.item
					img(src=imgUrl+"advantages/icon-advantages4.svg", alt="").item__icon
					p.item__text Контроль и регистрация всей интеллектуальной собственности клиента через личный кабинет
				li.item
					img(src=imgUrl+"advantages/icon-advantages5.svg", alt="").item__icon
					p.item__text Абсолютная конфиденциальность и гарантии
				li.item
					img(src=imgUrl+"advantages/icon-advantages6.svg", alt="").item__icon
					p.item__text Дистанционное цифровое взаимодействие
	.bottom
		.container
			ul.list
				li.item
					span.item__num 6000
					p.item__text зарегистрировано <br> товарных знаков
				li.item
					span.item__num 3000
					p.item__text получено <br> патентов
				li.item
					span.item__num 1000
					p.item__text выиграно судебных <br> дел и споров
				li.item
					span.item__num 160
					p.item__text стран мира
