section.partners
	.container
		.slider
			.slide
				img.slide__img(src=imgUrl+"partners/i1.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i2.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i3.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i4.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i5.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i6.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i7.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i8.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i9.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i10.png", alt="")
			.slide
				img.slide__img(src=imgUrl+"partners/i11.png", alt="")